@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;display=swap");

body{
    margin:0;
    padding: 0;
    font-family: 'Open Sans';
    font-weight: normal;
    color: #202124;
    font-size: 16px;
}
b{
    color: #202124;
}
a{
    text-decoration: none;
    color: rgb(0, 160, 223);
}
.link{
    color: rgb(0, 160, 223);
    cursor: pointer;
}
.link:hover{
    text-decoration: underline;
}
.back-button{
    padding-bottom: 1rem;
    display: none;
    cursor: pointer;
}
.visible{
    display: block;
}
a:hover{
    text-decoration: underline;
}
ul{
    margin:0.5rem 0 0.5rem 0;
    list-style-type: circle;

}
ol{
    margin:0.5rem 0 0.5rem 0;
}
.red{
    color: rgb(221, 98, 98);
}
.container{
    margin-left: 1rem;
padding: 0  0 0 1rem;
}
.header-menu{
    /* margin: 1rem 0 1rem 0; */
    display: flex;

}

.header-menu_item{
    padding-top:4px ;
    cursor: pointer;
    margin: 0 1rem 1rem 1rem;
}
.active-card{
    border-bottom: solid rgb(63, 122, 190) 2px;
}
.main-content{
    display: flex;
}
.card-menu{
    margin-left: 1rem;
    width: 220px;
}
.article-menu_item{
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: rgb(133, 133, 133);
}
.article-menu_item-title{
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: rgb(66, 66, 66);
}
.sub-item{
    color: rgb(133, 133, 133);
    margin-left: 2rem;
}
.active-article-menu-item{
    color: black;
    font-weight: normal;
transform: scale(1.06);
    transition: 0.09s;
    list-style-type: circle;

}

.article{
    min-height: 500px;
    min-width: 780px;
    width: 780px;
    /* width: 50%; */
    border: solid rgb(216, 216, 216) 1px;
    padding: 1.6rem 2.5rem 2.5rem 2.5rem;
    border-radius: 15px;
}

.article-menu{
    display: flex;
    margin-bottom: 1.6rem;

}
.menu_item{
    cursor: pointer;
    margin-right: 2rem;
}
.active-item{
    border-bottom: solid rgb(63, 122, 190) 2px;
}

.article-content{
    display: none;
    /* font-size: 14px; */
}

.active-article-content{
    display: block;
}

.article-title{
    font-size: 30px;
    margin-bottom: 1rem;
    color: rgb(63, 122, 190);
}


.article-description{
    margin-bottom: 1rem;
    font-size: 16px;
}
details{
    margin:0rem 1rem 1rem 1.5rem;

}

summary {
    outline: 0;
    cursor: pointer;
    outline: 0;
    transition: color .12s;
    -webkit-transition: color .12s;
  }
  summary::after {
    content: ".";
    position: relative;
    color: white;
    background: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=') no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;
    transition: transform .1s linear;
    -webkit-transition: transform .1s linear;
  }

summary::-webkit-details-marker { display: none; }
summary::-moz-list-bullet { list-style-type: none; }
.detail-title{
    font-weight: normal;
    font-size: 24px;
    color: #202124;
}
.detail-content{
    margin: 0.3rem 0rem 2rem 1rem;
    /* font-size: 14px; */
}



.folder-item {
    font-size: 16px;
    margin-bottom: 1rem;
}
.folder-item::before {
        content: url('img/folder.PNG');
      }






















      #toc:before {
          content: "";
          display: block;
          background-repeat: no-repeat;
          position: relative;
          top: 20px;
          padding: 14%;
          background-image: url(../img/menu.png);
      }

      #toc {
          margin-left: 1%;
      }

      #toc.toc2 {
          background-color: #ffffff00;
      }

      .tablink {
        background-color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        /* font-size: 14px; */
        margin-right: 2rem;
        border-bottom: solid #ffffff00 2px;
        font-family: 'Open Sans';
        padding: 0;
      }
      .tabcontent {
        display: none;
        height: 100%;
      }
      .tabs{
        display: flex;
        margin-bottom: 1.6rem;
      }





      .hide {
          display: none;
      }
      .hide + label ~ div{
          display: none;
      }
      .hide + label {
          cursor: pointer;
      }
      .hide:checked + label + div {
          display: block;
      }




      .detail-title {
          font-weight: normal;
          font-size: 24px;
          color: #202124;
          line-height: 1.5;
          font-family: Open sans;
      }
      .detail-title::after {
          content: ".";
          position: relative;
          color: white;
          background: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=) no-repeat 50% 50% / 1em 1em;
          width: 1em;
          height: 1em;
          padding: 5px;
          transition: transform .1s linear;
          -webkit-transition: transform .1s linear;
      }

      .detail-content {
          /* font-size: 14px; */
          line-height: 1.5;
          margin: 0.3rem 0rem 2rem 1rem;
      }

      li > p {
          /* font-size: 14px !important; */
          line-height: 1.4;
          margin: 0;
      }

      h2 {
          font-size: 30px;
          font-weight: 400;
          color: rgb(63, 122, 190);
      }

      /*
===============================================================================================================================================================================
       */

      div#footer {
      display: none;
    }
    button {
    border: none;
    background: none;
    padding-top: 4px;
    cursor: pointer;
    margin: 0 1rem 1rem 1rem;
    font-family: 'Open Sans';
    font-weight: normal;
    color: #202124;
    font-size: 14px;
    background: #ececec;
    }

    button:focus {
    outline: none;
    }

    .article-menu_item-title.active-article-menu-item {
    color: black;
    font-weight: bold;
    transform: scale(1.06);
    transition: 0.09s;
    list-style-type: circle;
    }

    table {
      border-spacing: 1px;
      background-color: rgb(217, 217, 217);
    }

    th {
      background: rgb(242, 242, 242);
      padding: 10px 10px;
      font-weight: normal;
      text-align: inherit;
    }

    td {
      background-color: white;
      padding: 0px 10px;
    }

    ul.square {
      list-style-type: square;
    }

    ul.circle {
      list-style-type: disc;
    }

    ul.disc {
      list-style-type: disc;
    }

    ul.decimal {
      list-style-type: decimal;
    }

    ul.none {
      list-style-type: none;
    }
    ::marker {
      color: rgb(63, 122, 190);
    }

    span.blue {
      color: rgb(63, 122, 190);
    }

    strong.blue {
      color: rgb(63, 122, 190);
    }

    span.underline {
      text-decoration: underline;
    }

    img {
      max-width: 100%;
    }

    table img {
      max-width: none;
    }
    /* img {
      width: inherit;
    }

    p {
      width: 100%;
    } */

    .doc-article-menu {
      display: grid;
      /* white-space: nowrap; */
    }

    .sub-item {
      white-space: break-spaces;
    }







    span.h1 {
      font-size: 24px;
      font-weight: 900;
      color: #424242;
    }

    h1 {
      font-size: 24px;
      font-weight: 900;
    }

    h2 {
      font-size: 16px;
      font-weight: 900;
      color: rgb(63, 122, 190);
    }

    h3 {
      font-size: 16px;
      font-weight: 900;
    }









    body {
      margin: 0;
      padding: 0;
      font-family: 'Open Sans';
      font-weight: normal;
      color: #202124;
      font-size: 16px;
      background-color: #ECECEC;
    }

    .article {
      min-height: 500px;
      min-width: 780px;
      width: 780px;
      /* width: 50%; */
      border: solid rgb(216, 216, 216) 1px;
      padding: 1.6rem 2.5rem 2.5rem 2.5rem;
      border-radius: 15px;
      background-color: white;
    }

    .active-card {
      /* border-bottom: solid rgb(255 255 255) 2px; */
     background-color: rgb(63, 122, 190)!important;
      font-weight: normal;
      /* border-radius: 0px 0px 10px 10px !important; */
      border-bottom: 0px !important;
    }

    .main-content {
      display: flex;
      background-color: #F8F8F8;
    }

    .card-menu {
      /* padding-left: 1rem; */
      width: 220px;
      background-color: #ECECEC;
      /* margin: 50px; */
      /* border-radius: 10px; */
      /* padding: 70px; */
      padding: 0px 70px 70px 70px;
      /* height: fit-content; */
      height: auto;
      margin-left: 0rem;
      min-width: 220px;
    }

    .header-menu_item {
      /* padding-top: 4px; */
      cursor: pointer;
      margin: 0 0rem 0rem 0rem;
      padding: 10px 20px 10px 20px;
      /* border-radius: 5px 5px 0px 0px; */
      /* border-left: solid 1px rgb(216, 216, 216); */
      /* border-right: solid 1px rgb(216, 216, 216); */
      /* border-top: solid 1px rgb(216, 216, 216); */
      margin: 0rem 0 0rem 0 !important;
      white-space: nowrap;
    }

    .header-menu {
      /* margin: 2rem 0 0rem 0; */
      display: flex;
      padding: 0px;
      background-color: rgb(63, 122, 190);
      /* padding-bottom: 50px; */
      margin-bottom: 50px;
      color: white;
      font-weight: lighter;
    }

    .article {
      min-height: 500px;
      min-width: 780px;
      width: 780px;
      /* width: 50%; */
      border: solid rgb(216, 216, 216) 1px;
      padding: 1.6rem 2.5rem 2.5rem 2.5rem;
      border-radius: 15px;
      background-color: white;
      margin: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    button {
      border: none;
      /* background: none; */
      padding-top: 4px;
      cursor: pointer;
      margin: 0 1rem 0rem 1rem;
      font-family: 'Open Sans';
      font-weight: normal;
      color: #202124;
      font-size: 14px;
    }


    .active-card {
      /* border-bottom: solid rgb(255, 255, 255) 2px; */
      background: hsla(212, 60%, 60%, 1) !important;
      /* height: 100px; */
      position: relative;
      /* top: 15px; */
      padding: 10px 20px 10px 20px;
    }

    button {
      border: none;
      /* background: none; */
      padding-top: 4px;
      cursor: pointer;
      margin: 0 1rem 0rem 1rem;
      font-family: 'Open Sans';
      font-weight: normal;
      color: #202124;
      font-size: 14px;
      cursor: pointer;
      margin: 0 0rem 0rem 0rem;
      padding: 10px 30px 10px 30px;
      border-radius: 10px 10px 0px 0px;
      border-left: solid 1px rgb(216, 216, 216);
      /* border-right: solid 1px rgb(216, 216, 216); */
      border-top: solid 1px rgb(216, 216, 216);
      border-bottom: solid 1px rgb(216, 216, 216);
    }

    span.image img {
      /* box-shadow: 0px 0px 4px 2px hsl(0deg 0% 0% / 10%); */
      box-shadow: 0px 0px 0px 1px rgb(216, 216, 216);
    }

    .tabs {
      display: flex;
      /* border-bottom: solid rgb(216, 216, 216) 2px; */
      margin-bottom: 1.6rem;
      position: absolute;
      border-bottom: none;
      top: 51px;
      left: 359px;
    }

    .hide + label::before {
      cursor: pointer;
      content: ". ";
      transition: 0.09s;
      position: absolute;
      background-image: url(img/triangle.svg);
      background-repeat: no-repeat;
      /* background-size: initial; */
      width: 120px;
      color: rgba(240, 248, 255, 0);
      display: inline-block;
      background-position: center;
      transform: rotate(-90deg);
      left: 0px;
    }

    .hide:checked + label::before {
    cursor: pointer;
    content: ". ";
    transition: 0.09s;
    position: absolute;
    background-image: url(img/triangle.svg);
    background-repeat: no-repeat;
    /* background-size: initial; */
    width: 120px;
    color: rgba(240, 248, 255, 0);
    display: inline-block;
    background-position: center;
    transform: rotate(0deg);
    left: 0px;
    }

    .container {
      margin-left: 0rem;
      padding: 0 0 0 0rem;
    }

    .tabs button:last-child {
      display: none;
    }

    .tabs button:nth-last-child(2) {
      border-right: solid 1px rgb(216, 216, 216);
    }

    .noBorder .image img {
    box-shadow: none;
}
